* {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  background-color: whitesmoke;
  


}

.img-fluid {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #007bff;
}

#myName {
  font-weight: bold;
}

main {
  margin: 100px auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;;
}

label {
  font-family:'Montserrat', sans-serif;
}